.users {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
    min-height: 80vh;
    margin-top: 10vh;
    flex-wrap: wrap;
}

.user-prev {
    background-color: #DCAE52;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
    min-height: 50vh;
    border-radius: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: column;
    border: none;
}

.pp {
    border-radius: 100px;
    background-color: #292C35;
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 15vh;
}